<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Edit {{Movie.movie_name}}</title>
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo" style="padding-left: 20px;">
        <i class="material-icons">movie</i>
        MovieDiary
      </a>

    </div>
  </nav>

  <div class="container" style="text-align: center;">
      <form action="{% url 'editMovie' Movie.id%}" method="post">
          {% csrf_token %}
    <h2>Edit {{Movie.movie_name}}</h2>
        <div class="row">
            <div class="input-field col s12" style="display: flex;">
            <input id="movie-name" type="text" name="movie-name" class="validate" value="{{Movie.movie_name}}" style="margin-left: 6px;">
            <label for="movie-name">Movie name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12" style="display: flex;">
              <input id="image-url" type="text" name="image-url" value="{{Movie.image_url}}" class="validate" style="margin-left: 6px;">
              <label for="image-url">Image url</label>
            </div>
          </div>


        <div class="row">
          <div class="input-field col s12" style="display: flex;">
            <input id="ratings" type="text" name="ratings" value="{{Movie.ratings}}" class="validate" style="margin-left: 6px;">
            <label for="ratings">Ratings</label>
          </div>

          <button class="btn waves-effect waves-light" type="submit" name="action">Save changes
          </button>

        </div>
      </form>
       <a href="{% url 'deleteMovie' Movie.id%}" class="btn waves-effect waves-light" style="background-color:red;">Delete Movie
          </a>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>