{% load socialaccount%}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5d5d17b205.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Log in</title>
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <div style="display: inline;">
                <div style="display: inline; float: left; padding-left: 10px;">
                    <a href="#!" class="brand-logo" style="position: relative;">
                        <i class="material-icons" style="font-size: 40px; margin: 0px;">movie</i>
                    </a>
                </div>

                <div style="display: inline; position: absolute; bottom: 1px;">
                    <h4 style="font-size: 25px;">MovieDiary</h4>
                </div>
            </div>

        </div>
    </nav>

  <div class="container" style="text-align: center;">
    <h3>A Diary to store your favourite movies</h3>
    <h4>Log in to MovieDiary</h4>
    {% if error %}
      <h6 style="color:red">{{error}}</h6>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
        <div class="row">
          <div class="input-field col s12" style="display: flex;">
            <i class="material-icons" style="line-height: 1.7;">person</i>
            <input id="username" type="text" name="username" class="validate" style="margin-left: 6px;">
            <label for="username" style="padding-left: 30px;">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12" style="display: flex;">
            <i class="material-icons" style="line-height: 1.7;">https</i>
            <input id="password" type="password" name="password" class="validate" style="margin-left: 6px;">
            <label for="password" style="padding-left: 30px;">Password</label>
          </div>

          <button class="btn waves-effect waves-light" type="submit" name="Login">Log in
            <i class="material-icons right">input</i>
          </button>

          <p>or</p>

          <button class="btn waves-effect waves-light" type="submit" name="Register">Register
            <i class="material-icons right">person_add</i>
          </button>


        </div>
      </form>

            <p>  </p>


          <div>
              <a href="{% provider_login_url 'google' action='reauthenticate' %}" class="btn waves-effect waves-light" style="    background-color: #037ffc;">
                  <i class="fab fa-google" style="padding-right:10px"></i>
                  Sign in with Google
              </a>
          </div>


    </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>